.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.jsx {
	color: #3fd5ff;
	box-shadow: #3b3b3b;
	font-family: "Share Tech Mono", monospace;
}
.person::selection {
	color: #fff;
	background-color: salmon;
	/* text-shadow: 2px 2px #31808c; */
}
.person:hover {
	box-shadow: none;
}
.personnel {
	background-color: #282c34;
	/* min-height: 100vh; */
	display: grid;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
